@use "../../styles/variables.scss";

.container1 {
    
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  padding: 18px;
  margin-top: 10%;
  box-shadow: 2px 2px 12px variables.$boxshadow;
}
h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #007bc1;
    font-weight: 500;
    margin-left: 38%;
}

