$modal_title: #099ed9;
$bg_closebtn: #e6e4e4;
$flag_tab_border: #dde0e2;

Button.btn-close {
  border-radius: 50%;
  background-color: $bg_closebtn;
  font-size: 11px;
  opacity: 0.4;
}
.modal-header {
  border-bottom: none;
}
.modal-title,
.success_msg {
  color: $modal_title;
}
.modal-footer {
  border-top: none;
  justify-content: center;
}
.modal {
  border: none;
}
.ant-modal-title,
.success_msg {
  justify-content: center !important;
  text-align: center;
}
.flag-dropdown {
  border-left: none !important;
  border-block: none !important;
  border-color: $flag-tab-border !important;
}
.invalid {
  border: 1px solid red !important;
}
.form-control {
  outline: none !important;
}
