@use "../../styles/variables.scss";

.btn_save {
  border :none;
  border-radius: 4px;
  color:white;
  width:6rem;
  padding-block: 8px;
  background: variables.$primary;
  &:hover {
    background: variables.$button-hover !important;
  }
}
.btn_add {
  border: none;
  border-radius: 4px;
  color:white !important;
  background: variables.$primary !important;
  padding-inline: 10px !important;
  padding-block: 7px !important;
//   font-size: 18px;
  float: right;
  &:hover {
    background: variables.$button-hover !important;
  }
}

.btn_add_borderless{
 border: none;
 background:white;
 color:variables.$primary !important;
  padding-inline: 0px !important;
  // font-size: 15px;
  padding-block: 7px !important;
}
// .prepend-icon{
//     font-size: 19px;
//     padding-left: 4px;
// }
// .append-icon{
//     font-size: 18px;
//     padding-right: 4px !important;
// }
.erp__btn-append-icon-wrapper {
    margin-left: 0.5rem;
}

// .erp__btn-prepend-icon-wrapper {
//     margin-right: 0.5rem;
//     height: auto;
//     width: auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
   
// }