.response_btn{
    padding: 2px !important;
    margin: 1px;
}
.assign_btn{
    padding-inline: 5px !important;
    padding-block:2px !important;
    margin: 1px;
}
.view_btn{
     padding-inline: 10px !important;
    padding-block:2px !important;
    margin: 1px;
}