.response_btn{
    padding-block: 1px !important;
    padding-inline: 7px !important;
    margin: 1px;
}
.assign_btn{
    padding-inline: 13px !important;
    padding-block:1px !important;
    margin: 1px;
}
.view_btn{
     padding-inline: 10px !important;
    padding-block:2px !important;
    margin: 1px;
}