.save_button_style {
  background-color: #0891d1;
  color: white;
  border-radius: 5px;
}
.toggle_btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.open .toggle_btn {
  transform: rotate(180deg);
}
.table_permission_list {
  height: fit-content!important;
  overflow-y: auto !important;
}
