@use "../../../styles/variables.scss";
.container_fms {
  // height: 655px;
  height: 760px;
  border-radius: 4px;
  box-shadow: 2px 2px 12px variables.$boxshadow;
}
.req_star {
  color: red;
  padding-left: 3px;
  font-size: 16px;
}
