$primary:#0891d1;
$inputfield:#f4f4f7;
$button-hover:#3997ca;
$boxshadow:#d5d6d7;
$white:#ffffff;

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $boxshadow; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $boxshadow; }

