
.quotation_border{
    // border: solid 1px black;
    border-bottom: solid 1px black;
  }
  .quotation_p_name{
   font-weight: bold;
   color: black;
  }
  // .quotation_heading{
  //   color: brown;
  //   font-weight: 700;
  // }
  .headcolorquot{
    color: brown;
    font-weight: 700;
  }
  .quotation_border_bottom{
    // border-left: none;
    // border-right: none;
    border-bottom: solid 1px black;
  }
  .tr_bgcolor{
    background-color: rgb(211, 218, 224);
    border-bottom: black;
  }
  .font_weight_qt{
  font-weight: 900 ;
  color: black;
  }
  .task_width{
  width: 30%;
  }
  .border_right{
    border-right: 1px solid;
  }
  .text_align_number{
    text-align: right;
  }
  .text_align_words{
    text-align: left;
  }