.card {
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 12px #d5d6d7;
}

.heading {
    margin-left: 1%;
    margin-top: 2%;
    display: flex;
    color: #0891d1;
    font-weight: 400;
}

.selectboxWrap {
    min-width: 30%;
    margin-left: 2%;
    // margin-right: 4%;
}

.jobSelectbox {
    min-width: 60px;
}

.datepicker_wrapper {
    max-width: 40%;
    margin-left: 2%;
}

.dateTop {
    min-width: 65px;
    display: flex;
    justify-content: end;
}

.saveBtn {
    // margin-left: 38%;
    display: flex;
    justify-content: center;
    // max-width: 94%;
}

.table_report_list
{
  height: 200px;
  overflow-y: auto;
}