.vertical {
  color: lightgrey;
}
.sizes {
  // color: variables.$primary;
  color: rgb(4, 105, 138);
}
.showpage_size_style {
  // box-shadow: 0px 2px 5px variables.$boxshadow;
  box-shadow: 0px 2px 5px whitesmoke;
  border-radius: 4px;
}
