.ImgWrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
  }
}

.headerContainer {
  width: 8rem;
}

.NotificationIcon {
  cursor: pointer;
}

.DrpdwnUser {
  display: flex;
  justify-content: end;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.Welcome {
  color: #b5b0cf;
  font-size: 12px;
}
.HorizontalRule {
  color: #b5b0cf;
  height: 3px !important;
}

.HeaderOptions {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.notifi_btn_style:focus {
  color: #fff;
  background-color: white !important;
  border-color: white !important;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}
.notif_count {
  position: absolute;
  top: -16px;
  color: white;
  // left: 845px;
  font-size: 10px;
  //   padding: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 100%;
  background-color: red;
}
.notification_icon {
  margin-top: 7px;
  position: relative;
}
.icon_style {
  position: absolute;
  top: 8px;
  left: 14px;
}
