// .purchase_payment{
//     height:232px;
// }
// @media (max-width:575px) {
 
// }


// @media (min-width:576px) and (max-width:767px) {
 

// }


// @media (min-width:768) and (max-width:1024) {
//     .purchase_payment {
//         height: 294px;
//     }
    
// }


//  @media (min-width:768px) and (max-width:991px) {
//     .purchase_payment {
//         height: 450px;
//     }
// }


// @media (min-width:992px) and (max-width:1199px) {

//     .purchase_payment {
//         height: 293px;
//     }


// }

// @media (min-width:1200px) {}

.table_input{
   height: 28px !important;
}
.vendordetails{
    height: 342px;;
 }

 
 @media (min-width:576px) and (max-width:767px) {
  
    .vendordetails {
        height: 501px;
    }
 }
 
 
 
 
 
  @media (min-width:390px) and (max-width:844px) {
    .vendordetails {
        height: 560px;
    }
    
    
 }
//  @media(min-width:851){
//     .vendordetails{
//         height: 563px;
//     }
//  }
 
 
//  @media (min-width:992px) and (max-width:1199px) {
//     .vendordetails{
//         height: 435px;
//     }
 
//  }
@media (min-width:768px) and (max-width:991px) {
  .vendordetails{
     height: 388px;
  }

}
 @media (min-width:768px) and (max-width:1024px){
 .vendordetails{
      height: 454px;
 }
 }
 @media (min-width:390px) and (max-width:844px){
    .vendordetails{
         height: 544px;
    }
    }
   

    @media (min-width:393px) and (max-width:851px){
        .vendordetails{
             height: 544px;
        }
       
        }
       
        @media (min-width: 820px) and (max-width: 1180px){
          .vendordetails {
               height: 475px;
           }        
   
        }
        @media(max-width: 820px){
          .table_input{
         width:150px !important;
        }
        }
















// @media(min-width:2560px) {
//     .vendordetails{
//         height: 347px;;
//      }
    
// }
// @media(min-width:768px) and (max-width:991){
//     .vendordetails{
//         height: 607px;;
//      }
    
// }
// @media(min-width:768px) and (max-width:1024){
//     .vendordetails{
//         height: 607px;;
//      }
    
// }

// @media(min-width:1440px) {
//     .vendordetails{
//         height: 347px;;
//      }
    
// }
// @media (min-width: 1024px) and (max-width:2559){
//     .vendordetails {
//         height: 475px;
//     }
// }
