@use "../../styles/variables.scss";

.ant-table-thead > tr > th{
    text-align: center !important;
    background-color: rgb(240, 248, 254);
    font-size: 0.8rem;
     padding:9px;
     opacity: 1 !important;
}
.ant-table-tbody > tr > td{
     font-size: 0.8rem;
     padding:7px;
}
.ant-table-pagination.ant-pagination{
    justify-content: center !important;
    position: sticky !important;
    bottom: 0;
   z-index: 2;
}

.ant-table-tbody > tr > td{
     font-size: 0.8rem;
     padding:7px;
}
.table_data{
    height: 490px !important; 
    overflow-y: auto !important;
    thead{
      z-index: 1;
       background-color: rgb(240, 248, 254);
    font-size: 0.8rem;
     padding:9px;
    position: sticky;
    top:0;
    }
    tbody{
        tr{
            border-color: rgb(237, 239, 240);
            td{
              font-size: 0.8rem;
     padding:5px;   
            }
        }
    }
}


