@use "../../../../styles/variables.scss";

.edit_quotation{
    height: 32rem;
  border-radius: 4px;
  box-shadow: 2px 2px 12px variables.$boxshadow;
}
.view_quotation{
  width:90%;
  border-radius: 4px;
  box-shadow: 2px 2px 12px variables.$boxshadow;
}