@use "../../../styles/variables.scss";

.currency{
background-color: white;
padding-left: 9px;
border-top-right-radius: 68px;

}
.currency_add_text{
  color: #ffffff;
  font-weight: 499;
  padding-left: 22px;
}