@use "../../styles/variables.scss";

$bg_closebtn: #e8e8e8;
$flag_tab_border: #dadddf;

Button.btn-close {
  border-radius: 50%;
  background-color: $bg_closebtn;
  font-size: 11px;
  opacity: 0.4;
}
.modal-header {
  border-bottom: none;
}
.modal-title,
.success_msg {
  color: variables.$primary;
}
.cancel_msg {
  color: variables.$primary;
  justify-content: center !important;
  text-align: center;
}
.warning_msg {
  color: orangered;
  justify-content: center !important;
  text-align: center;
}
.modal-footer {
  border-top: none;
  justify-content: center;
}
.modal {
  z-index: 1050;
  border: none;
}
.ant-modal-title,
.success_msg {
  justify-content: center !important;
  text-align: center;
}
.flag-dropdown {
  border-left: none !important;
  border-block: none !important;
  border-color: $flag_tab_border !important;
}
.invalid {
  border: 1px solid red !important;
}
.form-control {
  outline: none !important;
}
input[type="date"] {
  width: 100%;
  background-color: variables.$inputfield;
  outline: none;
}
.modal_window_style {
  :global {
    .ant-modal-content {
      position: relative;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 15px;
      pointer-events: auto;
    }
  }
}
.ant-modal-centered .ant-modal {
  top: 10% !important;
}

.modal_body {
  height: 500px;
  overflow-y: auto;
}
