@use "../../styles/variables.scss";

$bg_closebtn: #e8e8e8;
$flag_tab_border: #dadddf;

Button.btn-close {
  border-radius: 50%;
  background-color: $bg_closebtn;
  font-size: 11px;
  opacity: 0.4;
}
.modal-header {
  border-bottom: none;
}
.modal-title,
.success_msg {
  color: variables.$primary;
}
.modal-footer {
  border-top: none;
  justify-content: center;
}
.modal {
  z-index: 9999;
  border: none;
}
.ant-modal-title,
.success_msg {
  justify-content: center !important;
  text-align: center;
}
.flag-dropdown {
  border-left: none !important;
  border-block: none !important;
  border-color: $flag_tab_border !important;
}
.invalid {
  border: 1px solid red !important;
}
.form-control {
  outline: none !important;
}
input[type='date']{
    width: 100%;
    background-color: variables.$inputfield;
    outline:none;
}