@use "../styles/variables.scss";

.sidebarWrapper {
  width: 220px;
  transition: 850ms;
}

.contentWrapper {
  width: calc(100% - 220px);
  transition: 850ms;
}
.menu_icon{
  color:variables.$primary !important;
  font-size: 22px;
}
// .header_layout{  background-color: #8EC5FC;
// background-image: linear-gradient(130deg, #81bffc 0%, #c7ecfb 100%);
//  position: fixed;
//   top: 0;
// z-index: 100;}

/* @media screen and (min-width: 950px) {
  .contentWrapper{
    padding-inline: 50px !important;
  }
} */


