.sidebarWrapper {
  width: 220px;
  transition: 850ms;
}

.contentWrapper {
  width: calc(100% - 220px);
  transition: 850ms;
}

/* @media screen and (min-width: 950px) {
  .contentWrapper{
    padding-inline: 50px !important;
  }
} */


